aiohttp==3.8.6 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.11" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
disnake-ext-components @ git+https://github.com/DisnakeCommunity/disnake-ext-components.git@46b6a7ea303585d0c725150702c0e7a03fd1b53d ; python_version >= "3.11" and python_version < "4.0"
disnake-ext-formatter @ git+https://github.com/DisnakeCommunity/disnake-ext-formatter.git@cd12f0fad14edb0b37cd9ad53e6dc0e6ffa317b7 ; python_version >= "3.11" and python_version < "4.0"
disnake-ext-plugins @ git+https://github.com/DisnakeCommunity/disnake-ext-plugins.git@85cc396974577f446ae49ad29e6dc9c5a095bf79 ; python_version >= "3.11" and python_version < "4.0"
disnake==2.9.1 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
yarl==1.9.2 ; python_version >= "3.11" and python_version < "4.0"
